.base {
    width: 20px;
    height: 32px;
    border-radius: 72px 72px 72px 72px / 156px 156px 156px 156px;
}

.inactive {
    composes: base;
    border: 3px solid var(--electric-purple);
    box-shadow:
        inset 0 0 16px var(--electric-purple),
        0 0 16px var(--electric-purple);
}

.divider {
    composes: base;
    border: 3px solid var(--electric-purple);
    box-shadow:
        inset 0 0 16px var(--electric-purple),
        0 0 16px var(--electric-purple);

    margin-right: auto;
}

.finalizer {
    composes: base;
    border: 3px solid var(--philippine-orange);
    box-shadow:
        inset 0 0 16px var(--philippine-orange),
        0 0 16px var(--philippine-orange);

    margin-left: auto;
}

.active {
    composes: base;
    border: 3px solid var(--philippine-orange);
    box-shadow:
        inset 0 0 16px var(--philippine-orange),
        0 0 16px var(--philippine-orange);
}
