.normal {
    width: fit-content;
    --border-width: 44px;
    position: relative;
    padding: 96px 0;
    border-color: var(--vivid-sky-blue);
    border-left-width: var(--border-width);
    border-left-style: ridge;
    border-right-width: var(--border-width);
    border-right-style: ridge;
    border-radius: 28px;
    box-shadow:
        24px 0 16px -16px var(--vivid-sky-blue),
        -24px 0 16px -16px var(--vivid-sky-blue);
}

.normal:before,
.normal:after {
    content: "";
    position: absolute;
    width: 100%;
    box-shadow: 0 0 24px var(--vivid-sky-blue);
}

.normal:before {
    border-top: 16px ridge var(--vivid-sky-blue);
}

.normal:after {
    border-top: 16px ridge var(--vivid-sky-blue);
}

.normal:before {
    top: 28px;
}

.normal:after {
    bottom: 28px;
}
