.normal {
    text-align: center;
    align-content: center;
    height: var(--position-notation-size);
    width: var(--position-notation-size);
    color: var(--philippine-orange);
    border: 2px solid var(--philippine-orange);
    box-shadow: inset 0 0 32px var(--philippine-orange);
    border-radius: 16px;
    font-weight: bold;
    flex-shrink: 0;
}
