.normal {
    width: 448px;
    height: 12px;
    display: flex;
    align-items: center;
    border: 1px solid var(--vivid-sky-blue);
    box-shadow:
        inset 0 0 8px var(--vivid-sky-blue),
        0 0 16px var(--vivid-sky-blue);
}
